<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320810146229-d0a98a7ts08e1aufgeu96vm8s5jdv33g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320810146229-d0a98a7ts08e1aufgeu96vm8s5jdv33g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320810146229-hol9nb87lsp2ifqdkim70ajqh0bl3dkt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB53VDwI7HptVIC5M9lecKwi16MTu5vH5M</string>
	<key>GCM_SENDER_ID</key>
	<string>320810146229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.native.TapMatchApp</string>
	<key>PROJECT_ID</key>
	<string>tapmatch-56529</string>
	<key>STORAGE_BUCKET</key>
	<string>tapmatch-56529.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320810146229:ios:b3f4d46191d2eac09fe1fc</string>
	<key>DATABASE_URL</key>
	<string>https://tapmatch-56529.firebaseio.com</string>
</dict>
</plist>